header {
  height: 200px;
}
body {
  font-family: "Patrick Hand";
}

footer {
  background-image: linear-gradient(to right, yellow, rgb(116, 245, 116));
}

.row-content {
  min-height: 200px;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, yellow, rgb(116, 245, 116));
}

.extra-header {
  margin-bottom: 50px;
}
