header {
  padding: 20px;
  height: 150px;
}
body {
  font-family: "Patrick Hand";
}

footer {
  background-image: linear-gradient(to right, yellow, rgb(116, 245, 116));
  padding-top: 20px;
}

img {
  width: 20px;
}

.row-content {
  min-height: 175px;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, yellow, rgb(116, 245, 116));
}

.extra-header {
  margin-bottom: 40px;
}
